<ion-header>
  <ion-toolbar>
    <ion-title class="game">
      Tambah Produk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  
      <ion-avatar class="PlayStation 1" slot="start">
        <img src="https://dpi132tari.files.wordpress.com/2011/01/ps1.jpg">
      </ion-avatar>
     
  

  <ion-textarea placeholder="PlayStation 1 masih bagus kondisinya"></ion-textarea>

</ion-item>
<ion-item>
<ion-title><h6><b>Kondisi:</b></h6></ion-title>
</ion-item>
<ion-item>
  <ion-label>Bagus</ion-label>
<ion-radio slot="start" color="success" value="apple"></ion-radio>
</ion-item>
<ion-item>
  <ion-label>Tidak Bagus</ion-label>
  <ion-radio slot="start" color="success" value="apple"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>PlayStation</ion-label>
    <ion-select multiple="true" cancelText="Tidak" okText="Okay!">
      <ion-select-option value="PlayStation1">PlayStation1</ion-select-option>
      <ion-select-option value="PlayStation1">PlayStation2</ion-select-option>
      <ion-select-option value="PlayStation1">PlayStation3</ion-select-option>
      <ion-select-option value="PlayStation1">PlayStation4</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Nintendo</ion-label>
    <ion-select multiple="true" cancelText="Tidak" okText="Okay!">
        <ion-select-option value="NintendoSwitch">NintendoSwitch</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>MM DD YY</ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-button >Upload</ion-button>
          </ion-item>
  </ion-content>

  <ion-footer>
      <ion-item >
        <ion-button href="/tabs/tab2">GOBACK </ion-button>
      </ion-item>
    
    
    </ion-footer>
