.game {
    background: #57b5e0;
    padding: 40px;
    font-size: 2.0em;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  