<ion-header>
  <ion-toolbar>
    <ion-title class="game">
      MENU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item >
     
    <ion-icon name="logo-playstation"></ion-icon>  
  <ion-button href="/list">list
    
  </ion-button>
 
</ion-item>
<ion-item >
    <ion-icon name="basket"></ion-icon>

  <ion-button href="/tambahkeranjang">Keranjang Belanja
    
  </ion-button>

</ion-item >
  
<ion-item>
    <ion-icon name="add"></ion-icon>
  <ion-button href="/tambahproduk">Tambah Produk</ion-button>
</ion-item>



</ion-content>

