.game {
  background: #0781f3;
  padding: 20px;
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.login-container {
  background: #8dd8d8;
  height: 299px;
 
  padding: 14px;
}
